src/flows/Campaign_OnCreateOrUpdate_ProcessBuilder.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>isChangedDecision10_myRule_8_Class_Type_c</name>
        <label>isChangedDecision10_myRule_8_Class_Type_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision11_myRule_8_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_10_myRule_8_Class_Type_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Class_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Class_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision11_myRule_8_Type</targetReference>
            </connector>
            <label>isChangedRule_10_myRule_8_Class_Type_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision11_myRule_8_Type</name>
        <label>isChangedDecision11_myRule_8_Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision12_myRule_8_Training_Name_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_11_myRule_8_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Type</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision12_myRule_8_Training_Name_c</targetReference>
            </connector>
            <label>isChangedRule_11_myRule_8_Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision12_myRule_8_Training_Name_c</name>
        <label>isChangedDecision12_myRule_8_Training_Name_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision13_myRule_8_City_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_12_myRule_8_Training_Name_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Training_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Training_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision13_myRule_8_City_c</targetReference>
            </connector>
            <label>isChangedRule_12_myRule_8_Training_Name_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision13_myRule_8_City_c</name>
        <label>isChangedDecision13_myRule_8_City_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision14_myRule_8_custom_Start_DateTime_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_13_myRule_8_City_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.City__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.City__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision14_myRule_8_custom_Start_DateTime_c</targetReference>
            </connector>
            <label>isChangedRule_13_myRule_8_City_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision14_myRule_8_custom_Start_DateTime_c</name>
        <label>isChangedDecision14_myRule_8_custom_Start_DateTime_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision15_myRule_8_custom_End_DateTime_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_14_myRule_8_custom_Start_DateTime_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.custom_Start_DateTime__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.custom_Start_DateTime__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision15_myRule_8_custom_End_DateTime_c</targetReference>
            </connector>
            <label>isChangedRule_14_myRule_8_custom_Start_DateTime_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision15_myRule_8_custom_End_DateTime_c</name>
        <label>isChangedDecision15_myRule_8_custom_End_DateTime_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision16_myRule_8_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_15_myRule_8_custom_End_DateTime_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.custom_End_DateTime__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.custom_End_DateTime__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision16_myRule_8_Description</targetReference>
            </connector>
            <label>isChangedRule_15_myRule_8_custom_End_DateTime_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision16_myRule_8_Description</name>
        <label>isChangedDecision16_myRule_8_Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision17_myRule_8_C501_Trigger_Event_Update_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_16_myRule_8_Description</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Description</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Description</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision17_myRule_8_C501_Trigger_Event_Update_c</targetReference>
            </connector>
            <label>isChangedRule_16_myRule_8_Description</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision17_myRule_8_C501_Trigger_Event_Update_c</name>
        <label>isChangedDecision17_myRule_8_C501_Trigger_Event_Update_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision18_myRule_8_C501_Training_Location_Text_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_17_myRule_8_C501_Trigger_Event_Update_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.C501_Trigger_Event_Update__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.C501_Trigger_Event_Update__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision18_myRule_8_C501_Training_Location_Text_c</targetReference>
            </connector>
            <label>isChangedRule_17_myRule_8_C501_Trigger_Event_Update_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision18_myRule_8_C501_Training_Location_Text_c</name>
        <label>isChangedDecision18_myRule_8_C501_Training_Location_Text_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_18_myRule_8_C501_Training_Location_Text_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.C501_Training_Location_Text__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.C501_Training_Location_Text__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>isChangedRule_18_myRule_8_C501_Training_Location_Text_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision9_myRule_8_Language_c</name>
        <label>isChangedDecision9_myRule_8_Language_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision10_myRule_8_Class_Type_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_9_myRule_8_Language_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Language__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Language__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision10_myRule_8_Class_Type_c</targetReference>
            </connector>
            <label>isChangedRule_9_myRule_8_Language_c</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Training Location Changed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_pmetdec</targetReference>
            </connector>
            <label>Fields from null to new value</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision7</name>
        <label>myDecision7</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_8</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_9_myRule_8_Language_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_10_myRule_8_Class_Type_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_11_myRule_8_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_12_myRule_8_Training_Name_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_13_myRule_8_City_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>DateTime</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>DateTime</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_14_myRule_8_custom_Start_DateTime_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>DateTime</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>DateTime</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_15_myRule_8_custom_End_DateTime_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_16_myRule_8_Description</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_17_myRule_8_C501_Trigger_Event_Update_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_18_myRule_8_C501_Training_Location_Text_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_8_A1</targetReference>
            </connector>
            <label>Training modified</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision3</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_4_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>400</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_4_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_4_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_4_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;Register: &quot; &amp;
[Campaign].C501_Registration_Link__c  &amp;
&quot; (Training Status: &quot; &amp;
TEXT([Campaign].Status) &amp;
&quot;)&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_19_myRule_8_A1_8068520044</name>
        <dataType>String</dataType>
        <expression>&quot;Register: &quot; &amp;
{!myVariable_current.C501_Registration_Link__c}  &amp;
&quot; (Training Status: &quot; &amp;
TEXT({!myVariable_current.Status}) &amp;
&quot;)&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Campaign].Training_Name__c  &amp; &quot; (&quot; &amp; TEXT([Campaign].Class_Type__c) &amp; &quot;) - &quot; &amp;[Campaign].City__c &amp; &quot; - &quot; &amp; TEXT([Campaign].Language__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_20_myRule_8_A1_1790365965</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Training_Name__c}  &amp; &quot; (&quot; &amp; TEXT({!myVariable_current.Class_Type__c}) &amp; &quot;) - &quot; &amp;{!myVariable_current.City__c} &amp; &quot; - &quot; &amp; TEXT({!myVariable_current.Language__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([Campaign].C501_Training_Location__c.C501_Imagine_WA_County__c ,
&quot;Adams&quot;,&quot;Grant; Douglas; Adams; Lincoln; Spokane; Whitman; Franklin; Benton; Walla Walla; Columbia; Garfield; Asotin&quot;,
&quot;Asotin&quot;,&quot;Benton; Walla Walla; Columbia; Adams; Franklin; Whitman; Garfield; Asotin; Spokane&quot;,
&quot;Benton&quot;,&quot;Benton; Yakima; Walla Walla; Columbia; Grant; Adams; Franklin&quot;,
&quot;Chelan&quot;,&quot;Kittitas; Grant; Douglas; Chelan; Okanogan &quot;,
&quot;Clallam&quot;,&quot;Clallam; Jefferson; Grays Harbor; Mason; Kitsap; Thurston&quot;,
&quot;Clark&quot;,&quot;Pacific; Lewis; Cowlitz; Clark; Skamania; Klickitat; Wahkiakum&quot;,
&quot;Columbia&quot;,&quot;Benton; Walla Walla; Columbia; Adams; Franklin; Whitman; Garfield; Asotin; Spokane&quot;,
&quot;Cowlitz&quot;,&quot;Pacific; Lewis; Cowlitz; Clark; Skamania; Klickitat; Wahkiakum&quot;,
&quot;Douglas&quot;,&quot;Yakima; Kittitas; Grant; Douglas; Chelan; Adams; Okanogan; Ferry&quot;,
&quot;Ferry&quot;,&quot;Douglas; Okanogan; Ferry; Lincoln; Stevens; Pend Oreille; Spokane&quot;,
&quot;Franklin&quot;,&quot;Benton; Walla Walla; Columbia; Grant; Adams; Franklin; Whitman; Garfield; Asotin&quot;,
&quot;Garfield&quot;,&quot;Benton; Walla Walla; Columbia; Adams; Franklin; Whitman; Garfield; Asotin; Spokane&quot;,
&quot;Grant&quot;,&quot;Yakima; Kittitas; Grant; Douglas; Chelan; Adams&quot;,
&quot;Grays Harbor&quot;,&quot;Clallam; Jefferson; Grays Harbor; Mason; Kitsap; Thurston; Pacific; Lewis; Wahkiakum&quot;,
&quot;Island&quot;,&quot;Island; San Juan; Whatcom; Skagit; Snohomish; Clallam; Jefferson; Kitsap&quot;,
&quot;Jefferson&quot;,&quot;Clallam; Jefferson; Grays Harbor; Mason; Kitsap; Thurston&quot;,
&quot;King&quot;,&quot;King; Snohomish; Pierce&quot;,
&quot;Kitsap&quot;,&quot;Kitsap; Clallam; Jefferson; Grays Harbor; Mason; Thurston; Pierce&quot;,
&quot;Kittitas&quot;,&quot;Yakima; Kittitas; Grant; Douglas; Chelan&quot;,
&quot;Klickitat&quot;,&quot;Pacific; Lewis; Cowlitz; Clark; Skamania; Klickitat&quot;,
&quot;Lewis&quot;,&quot;Pacific; Lewis; Pierce; Thurston; Cowlitz; Clark; Skamania; Klickitat; Wahkiakum&quot;,
&quot;Lincoln&quot;,&quot;Douglas; Grant; Okanogan; Ferry; Lincoln; Stevens; Pend Oreille; Spokane; Adams&quot;,
&quot;Mason&quot;,&quot;Clallam; Jefferson; Grays Harbor; Mason; Kitsap; Thurston&quot;,
&quot;Okanogan&quot;,&quot;Grant; Douglas; Chelan; Okanogan; Ferry; Lincoln; Stevens&quot;,
&quot;Pacific&quot;,&quot;Pacific; Lewis; Pierce; Thurston; Cowlitz; Clark; Skamania; Wahkiakum&quot;,
&quot;Pend Oreille&quot;,&quot;Ferry; Lincoln; Stevens; Pend Oreille; Spokane; Ferry&quot;,
&quot;Pierce&quot;,&quot;Thurston; Mason; Grays Harbor; Lewis; King&quot;,
&quot;Skagit&quot;,&quot;Skagit; Snohomish; Whatcom; Island&quot;,
&quot;San Juan&quot;,&quot;San Juan; Island; Whatcom; Skagit; Snohomish&quot;,
&quot;Skamania&quot;,&quot;Pacific; Lewis; Cowlitz; Clark; Skamania; Klickitat; Wahkiakum&quot;,
&quot;Snohomish&quot;,&quot;Snohomish; King; Skagit&quot;,
&quot;Spokane&quot;,&quot;Spokane; Lincoln; Stevens; Pend Oreille; Whitman; Franklin; Benton&quot;,
&quot;Stevens&quot;,&quot;Douglas; Okanogan; Ferry; Lincoln; Stevens; Pend Oreille; Spokane; Adams&quot;,
&quot;Thurston&quot;,&quot;Clallam; Jefferson; Grays Harbor; Mason; Kitsap; Thurston; Lewis&quot;,
&quot;Wahkiakum&quot;,&quot;Wahkiakum; Pacific; Lewis; Cowlitz; Clark; Skamania; Klickitat&quot;,
&quot;Walla Walla&quot;,&quot;Benton; Walla Walla; Columbia; Adams; Franklin; Whitman; Garfield; Asotin&quot;,
&quot;Whatcom&quot;,&quot;Whatcom; Skagit; Island&quot;,
&quot;Whitman&quot;,&quot;Walla Walla; Columbia; Adams; Franklin; Whitman; Garfield; Asotin; Spokane; Benton; Lincoln&quot;,
&quot;Yakima&quot;,&quot;Yakima; Benton; Walla Walla; Columbia; Adams; Franklin; Kittitas; Grant; Douglas; Chelan; Adams; Okanogan; Ferry&quot;,&quot;&quot;



) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_8685419549</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.C501_Training_Location__r.C501_Imagine_WA_County__c} ,
&quot;Adams&quot;,&quot;Grant; Douglas; Adams; Lincoln; Spokane; Whitman; Franklin; Benton; Walla Walla; Columbia; Garfield; Asotin&quot;,
&quot;Asotin&quot;,&quot;Benton; Walla Walla; Columbia; Adams; Franklin; Whitman; Garfield; Asotin; Spokane&quot;,
&quot;Benton&quot;,&quot;Benton; Yakima; Walla Walla; Columbia; Grant; Adams; Franklin&quot;,
&quot;Chelan&quot;,&quot;Kittitas; Grant; Douglas; Chelan; Okanogan &quot;,
&quot;Clallam&quot;,&quot;Clallam; Jefferson; Grays Harbor; Mason; Kitsap; Thurston&quot;,
&quot;Clark&quot;,&quot;Pacific; Lewis; Cowlitz; Clark; Skamania; Klickitat; Wahkiakum&quot;,
&quot;Columbia&quot;,&quot;Benton; Walla Walla; Columbia; Adams; Franklin; Whitman; Garfield; Asotin; Spokane&quot;,
&quot;Cowlitz&quot;,&quot;Pacific; Lewis; Cowlitz; Clark; Skamania; Klickitat; Wahkiakum&quot;,
&quot;Douglas&quot;,&quot;Yakima; Kittitas; Grant; Douglas; Chelan; Adams; Okanogan; Ferry&quot;,
&quot;Ferry&quot;,&quot;Douglas; Okanogan; Ferry; Lincoln; Stevens; Pend Oreille; Spokane&quot;,
&quot;Franklin&quot;,&quot;Benton; Walla Walla; Columbia; Grant; Adams; Franklin; Whitman; Garfield; Asotin&quot;,
&quot;Garfield&quot;,&quot;Benton; Walla Walla; Columbia; Adams; Franklin; Whitman; Garfield; Asotin; Spokane&quot;,
&quot;Grant&quot;,&quot;Yakima; Kittitas; Grant; Douglas; Chelan; Adams&quot;,
&quot;Grays Harbor&quot;,&quot;Clallam; Jefferson; Grays Harbor; Mason; Kitsap; Thurston; Pacific; Lewis; Wahkiakum&quot;,
&quot;Island&quot;,&quot;Island; San Juan; Whatcom; Skagit; Snohomish; Clallam; Jefferson; Kitsap&quot;,
&quot;Jefferson&quot;,&quot;Clallam; Jefferson; Grays Harbor; Mason; Kitsap; Thurston&quot;,
&quot;King&quot;,&quot;King; Snohomish; Pierce&quot;,
&quot;Kitsap&quot;,&quot;Kitsap; Clallam; Jefferson; Grays Harbor; Mason; Thurston; Pierce&quot;,
&quot;Kittitas&quot;,&quot;Yakima; Kittitas; Grant; Douglas; Chelan&quot;,
&quot;Klickitat&quot;,&quot;Pacific; Lewis; Cowlitz; Clark; Skamania; Klickitat&quot;,
&quot;Lewis&quot;,&quot;Pacific; Lewis; Pierce; Thurston; Cowlitz; Clark; Skamania; Klickitat; Wahkiakum&quot;,
&quot;Lincoln&quot;,&quot;Douglas; Grant; Okanogan; Ferry; Lincoln; Stevens; Pend Oreille; Spokane; Adams&quot;,
&quot;Mason&quot;,&quot;Clallam; Jefferson; Grays Harbor; Mason; Kitsap; Thurston&quot;,
&quot;Okanogan&quot;,&quot;Grant; Douglas; Chelan; Okanogan; Ferry; Lincoln; Stevens&quot;,
&quot;Pacific&quot;,&quot;Pacific; Lewis; Pierce; Thurston; Cowlitz; Clark; Skamania; Wahkiakum&quot;,
&quot;Pend Oreille&quot;,&quot;Ferry; Lincoln; Stevens; Pend Oreille; Spokane; Ferry&quot;,
&quot;Pierce&quot;,&quot;Thurston; Mason; Grays Harbor; Lewis; King&quot;,
&quot;Skagit&quot;,&quot;Skagit; Snohomish; Whatcom; Island&quot;,
&quot;San Juan&quot;,&quot;San Juan; Island; Whatcom; Skagit; Snohomish&quot;,
&quot;Skamania&quot;,&quot;Pacific; Lewis; Cowlitz; Clark; Skamania; Klickitat; Wahkiakum&quot;,
&quot;Snohomish&quot;,&quot;Snohomish; King; Skagit&quot;,
&quot;Spokane&quot;,&quot;Spokane; Lincoln; Stevens; Pend Oreille; Whitman; Franklin; Benton&quot;,
&quot;Stevens&quot;,&quot;Douglas; Okanogan; Ferry; Lincoln; Stevens; Pend Oreille; Spokane; Adams&quot;,
&quot;Thurston&quot;,&quot;Clallam; Jefferson; Grays Harbor; Mason; Kitsap; Thurston; Lewis&quot;,
&quot;Wahkiakum&quot;,&quot;Wahkiakum; Pacific; Lewis; Cowlitz; Clark; Skamania; Klickitat&quot;,
&quot;Walla Walla&quot;,&quot;Benton; Walla Walla; Columbia; Adams; Franklin; Whitman; Garfield; Asotin&quot;,
&quot;Whatcom&quot;,&quot;Whatcom; Skagit; Island&quot;,
&quot;Whitman&quot;,&quot;Walla Walla; Columbia; Adams; Franklin; Whitman; Garfield; Asotin; Spokane; Benton; Lincoln&quot;,
&quot;Yakima&quot;,&quot;Yakima; Benton; Walla Walla; Columbia; Adams; Franklin; Kittitas; Grant; Douglas; Chelan; Adams; Okanogan; Ferry&quot;,&quot;&quot;



)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;Register: &quot; &amp;
[Campaign].C501_Registration_Link__c  &amp;
&quot; (Training Status: &quot; &amp;
TEXT([Campaign].Status) &amp;
&quot;)&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A1_8852132536</name>
        <dataType>String</dataType>
        <expression>&quot;Register: &quot; &amp;
{!myVariable_current.C501_Registration_Link__c}  &amp;
&quot; (Training Status: &quot; &amp;
TEXT({!myVariable_current.Status}) &amp;
&quot;)&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Campaign].Training_Name__c  &amp; &quot; (&quot; &amp; TEXT([Campaign].Class_Type__c) &amp; &quot;) - &quot; &amp;[Campaign].City__c &amp; &quot; - &quot; &amp; TEXT([Campaign].Language__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_4_A1_0802266846</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Training_Name__c}  &amp; &quot; (&quot; &amp; TEXT({!myVariable_current.Class_Type__c}) &amp; &quot;) - &quot; &amp;{!myVariable_current.City__c} &amp; &quot; - &quot; &amp; TEXT({!myVariable_current.Language__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(AND(NOT(ISBLANK([Campaign].C501_Training_Location__c)),ISNEW()),AND(ISCHANGED([Campaign].C501_Training_Location__c),NOT(ISBLANK([Campaign].C501_Training_Location__c))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(AND(NOT(ISBLANK({!myVariable_current.C501_Training_Location__c})),ISNEW()),AND(ISCHANGED({!myVariable_current.C501_Training_Location__c}),NOT(ISBLANK({!myVariable_current.C501_Training_Location__c}))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(AND(NOT(ISBLANK([Campaign].C501_Training_Location__c)),ISNEW()),AND(ISCHANGED([Campaign].C501_Training_Location__c),NOT(ISBLANK([Campaign].C501_Training_Location__c))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>OR(AND(NOT(ISBLANK({!myVariable_old.C501_Training_Location__c})),ISNEW()),AND(ISCHANGED({!myVariable_old.C501_Training_Location__c}),NOT(ISBLANK({!myVariable_old.C501_Training_Location__c}))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK( [Campaign].custom_Start_DateTime__c )) &amp;&amp; NOT(ISBLANK( [Campaign].custom_End_DateTime__c )) &amp;&amp; OR(ISCHANGED( [Campaign].custom_Start_DateTime__c ),ISNEW()) &amp;&amp; OR(ISCHANGED( [Campaign].custom_End_DateTime__c ),ISNEW()) &amp;&amp; OR(ISBLANK(PRIORVALUE( [Campaign].custom_End_DateTime__c )),ISNEW())

  </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK( {!myVariable_current.custom_Start_DateTime__c} )) &amp;&amp; NOT(ISBLANK( {!myVariable_current.custom_End_DateTime__c} )) &amp;&amp; OR(ISCHANGED( {!myVariable_current.custom_Start_DateTime__c} ),ISNEW()) &amp;&amp; OR(ISCHANGED( {!myVariable_current.custom_End_DateTime__c} ),ISNEW()) &amp;&amp; OR(ISBLANK(PRIORVALUE( {!myVariable_current.custom_End_DateTime__c} )),ISNEW())</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK( [Campaign].custom_Start_DateTime__c )) &amp;&amp; NOT(ISBLANK( [Campaign].custom_End_DateTime__c )) &amp;&amp; OR(ISCHANGED( [Campaign].custom_Start_DateTime__c ),ISNEW()) &amp;&amp; OR(ISCHANGED( [Campaign].custom_End_DateTime__c ),ISNEW()) &amp;&amp; OR(ISBLANK(PRIORVALUE( [Campaign].custom_End_DateTime__c )),ISNEW())

  </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK( {!myVariable_old.custom_Start_DateTime__c} )) &amp;&amp; NOT(ISBLANK( {!myVariable_old.custom_End_DateTime__c} )) &amp;&amp; OR(ISCHANGED( {!myVariable_old.custom_Start_DateTime__c} ),ISNEW()) &amp;&amp; OR(ISCHANGED( {!myVariable_old.custom_End_DateTime__c} ),ISNEW()) &amp;&amp; OR(ISBLANK(PRIORVALUE( {!myVariable_old.custom_End_DateTime__c} )),ISNEW())</expression>
    </formulas>
    <interviewLabel>Campaign_OnCreateOrUpdate_ProcessBuilder-2_InterviewLabel</interviewLabel>
    <label>Campaign OnCreateOrUpdate ProcessBuilder</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Campaign</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_4_A1</name>
        <label>Create Event</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Description</field>
            <value>
                <elementReference>formula_5_myRule_4_A1_8852132536</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>End Date Time</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>EndDateTime</field>
            <value>
                <elementReference>myVariable_current.custom_End_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Private</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>IsPrivate</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Location</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Location</field>
            <value>
                <elementReference>myVariable_current.C501_Training_Location__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Calendar;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>0056g000001XiZZAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Start Date Time</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>StartDateTime</field>
            <value>
                <elementReference>myVariable_current.custom_Start_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <elementReference>formula_6_myRule_4_A1_0802266846</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Account;Asset;AssetRelationship;Campaign;Case;ContactRequest;Contract;GW_Volunteers__Volunteer_Hours__c;GW_Volunteers__Volunteer_Job__c;GW_Volunteers__Volunteer_Shift__c;ListEmail;Opportunity;Order;Product2;Solution;npo02__Household__c;npsp__Engagement_Plan_Template__c;npsp__Engagement_Plan__c;npsp__Fund__c;npsp__General_Accounting_Unit__c;npsp__Grant_Deadline__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Campaign]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Outreach Counties</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision3</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>MultiPicklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Outreach WA Counties</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>C501_Outreach_WA_Counties__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_8685419549</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Campaign].Events</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_8_A1</name>
        <label>Update Event</label>
        <locationX>800</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Description</field>
            <value>
                <elementReference>formula_19_myRule_8_A1_8068520044</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>End Date Time</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>EndDateTime</field>
            <value>
                <elementReference>myVariable_current.custom_End_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Private</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>IsPrivate</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Location</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Location</field>
            <value>
                <elementReference>myVariable_current.C501_Training_Location__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Calendar;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>0056g000001XiZZAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Start Date Time</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>StartDateTime</field>
            <value>
                <elementReference>myVariable_current.custom_Start_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <elementReference>formula_20_myRule_8_A1_1790365965</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <startElementReference>isChangedDecision9_myRule_8_Language_c</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
</Flow>
