src/flows/Lead_Convert_Send_Email.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Denied_Admin</name>
        <label>Denied Admin</label>
        <locationX>1154</locationX>
        <locationY>122</locationY>
        <actionName>CampaignMember.Training_Member_Notify_Imagine_Admin</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>soMember.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Denied_Email</name>
        <label>Denied Training</label>
        <locationX>744</locationX>
        <locationY>336</locationY>
        <actionName>CampaignMember.Denied_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>soMember.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Denied_Imagine_U</name>
        <label>Denied Imagine U</label>
        <locationX>994</locationX>
        <locationY>195</locationY>
        <actionName>CampaignMember.Denied_Email_Alert_ImagineU</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>soMember.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Denied_SubPool</name>
        <label>Denied SubPool</label>
        <locationX>858</locationX>
        <locationY>261</locationY>
        <actionName>CampaignMember.Denied_Email_Alert_SubPool</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>soMember.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Class_Type</name>
        <label>Class Type</label>
        <locationX>873</locationX>
        <locationY>447</locationY>
        <defaultConnector>
            <targetReference>Denied_Admin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Training</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>soCampaign.Class_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soCampaign.Class_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Licensed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Denied_Email</targetReference>
            </connector>
            <label>Training</label>
        </rules>
        <rules>
            <name>SubPool</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>soCampaign.Class_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soCampaign.Class_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Denied_SubPool</targetReference>
            </connector>
            <label>SubPool</label>
        </rules>
        <rules>
            <name>ImagineU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soCampaign.Class_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine U</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Denied_Imagine_U</targetReference>
            </connector>
            <label>ImagineU</label>
        </rules>
    </decisions>
    <decisions>
        <name>Training_Status</name>
        <label>Training Status</label>
        <locationX>667</locationX>
        <locationY>447</locationY>
        <defaultConnector>
            <targetReference>Get_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Denied</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varInputLead_TrainingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soMember.Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Class_Type</targetReference>
            </connector>
            <label>Denied</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Email</name>
        <label>Valid Email</label>
        <locationX>476</locationX>
        <locationY>447</locationY>
        <defaultConnector>
            <targetReference>Get_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isValidEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Training_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>DaveB: Default event owner to Training user</description>
    <formulas>
        <name>isValidEmail</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!soMember.Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</expression>
    </formulas>
    <interviewLabel>Lead Convert Send Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Convert Send Email</label>
    <loops>
        <name>Get_Member</name>
        <label>Get Member</label>
        <locationX>491</locationX>
        <locationY>111</locationY>
        <assignNextValueToReference>soMember</assignNextValueToReference>
        <collectionReference>socMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Campaign</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>780</locationX>
        <locationY>70</locationY>
        <connector>
            <targetReference>Get_Member</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>soCampaign.Class_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Class Denied Email Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varInputLead_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>300</locationX>
        <locationY>447</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soMember.CampaignId</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>soCampaign.Class_Type__c</assignToReference>
            <field>Class_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Members</name>
        <label>Get Members</label>
        <locationX>180</locationX>
        <locationY>110</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Member</targetReference>
        </connector>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputLead_Id</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>socMembers</outputReference>
        <queriedFields>Training_Start_DateTime__c</queriedFields>
        <queriedFields>Training_End_DateTime__c</queriedFields>
        <queriedFields>Training_Name__c</queriedFields>
        <queriedFields>Training_Status__c</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>CampaignId</queriedFields>
    </recordLookups>
    <startElementReference>Get_Members</startElementReference>
    <status>Active</status>
    <variables>
        <name>soCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>socMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>soMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>varInputLead_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varInputLead_TrainingStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
