src/flows/Training_Confirmation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FFN_Registered_English_Alert</name>
        <label>FFN Registered (English) Alert</label>
        <locationX>1051</locationX>
        <locationY>150</locationY>
        <actionName>CampaignMember.Training_Member_FFN_Registration_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FFN_Registered_Spanish_Alert</name>
        <label>FFN Registered (Spanish) Alert</label>
        <locationX>998</locationX>
        <locationY>292</locationY>
        <actionName>CampaignMember.Training_Member_FFN_Registration_Confirmation_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Imagine_U_Confirmation_English_Alert</name>
        <label>Imagine U Confirmation (English) Alert</label>
        <locationX>1316</locationX>
        <locationY>18</locationY>
        <actionName>CampaignMember.Training_Member_Imagine_Register</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Imagine_U_Confirmation_Spanish_Alert</name>
        <label>Imagine U Confirmation (Spanish) Alert</label>
        <locationX>1183</locationX>
        <locationY>65</locationY>
        <actionName>CampaignMember.Training_Member_Imagine_Register_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>LFCCP_Creative_Registration1_Alert</name>
        <label>LFCCP Creative Registration1 Alert</label>
        <locationX>1015</locationX>
        <locationY>810</locationY>
        <actionName>CampaignMember.Training_Member_LFCCP_Creative_Registration_English_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>LFCCP_Registration_Confirmation_Alert</name>
        <label>LFCCP Registration Confirmation Alert</label>
        <locationX>1342</locationX>
        <locationY>571</locationY>
        <actionName>CampaignMember.Training_Member_LFCCP_Registration_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>LFCCP_Registration_Confirmation_Spanish_Alert</name>
        <label>LFCCP Registration Confirmation Spanish Alert</label>
        <locationX>1083</locationX>
        <locationY>725</locationY>
        <actionName>CampaignMember.Training_Member_LFCCP_Registration_Confirmation_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Admin</name>
        <label>Notify Admin</label>
        <locationX>588</locationX>
        <locationY>50</locationY>
        <actionName>CampaignMember.Training_Member_Notify_Imagine_Admin</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Prepare_Confirmation_English_Alert</name>
        <label>Prepare Confirmation (English) Alert</label>
        <locationX>948</locationX>
        <locationY>925</locationY>
        <actionName>CampaignMember.Training_Member_Prepare_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PREPARE_Orientation_Confirmation_Alert</name>
        <label>PREPARE Orientation Confirmation Alert</label>
        <locationX>807</locationX>
        <locationY>1019</locationY>
        <actionName>CampaignMember.Training_Member_Prepare_Orientation_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Substitute_Confirmation_English_Alert</name>
        <label>Substitute Confirmation (English) Alert</label>
        <locationX>992</locationX>
        <locationY>411</locationY>
        <actionName>CampaignMember.SubPool_Confirmation_English</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Substitute_Confirmation_Spanish_Alert</name>
        <label>Substitute Confirmation (Spanish) Alert</label>
        <locationX>976</locationX>
        <locationY>506</locationY>
        <actionName>CampaignMember.SubPool_Confirmation_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Send_Confirmation</name>
        <label>Send Confirmation</label>
        <locationX>593</locationX>
        <locationY>183</locationY>
        <defaultConnector>
            <targetReference>Notify_Admin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Imagine_U_Confirmation_English</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine_U_Confirmation_English</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine U Confirmation (English)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Imagine_U_Confirmation_English_Alert</targetReference>
            </connector>
            <label>Imagine U Confirmation (English)</label>
        </rules>
        <rules>
            <name>Imagine_U_Confirmation_Spanish</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine_U_Confirmation_Spanish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine U Confirmation (Spanish)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Imagine_U_Confirmation_Spanish_Alert</targetReference>
            </connector>
            <label>Imagine U Confirmation (Spanish)</label>
        </rules>
        <rules>
            <name>FFN_Registered_English</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN Registration Confirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN Registered (English)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FFN_Registered_English_Alert</targetReference>
            </connector>
            <label>FFN Registered (English)</label>
        </rules>
        <rules>
            <name>FFN_Registered_Spanish</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN_Registered_Spanish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN Registered (Spanish)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FFN_Registered_Spanish_Alert</targetReference>
            </connector>
            <label>FFN Registered (Spanish)</label>
        </rules>
        <rules>
            <name>Substitute_Confirmation_English</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute_Confirmation_English</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute Confirmation (English)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Substitute_Confirmation_English_Alert</targetReference>
            </connector>
            <label>Substitute Confirmation (English)</label>
        </rules>
        <rules>
            <name>Substitute_Confirmation_Spanish</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute_Confirmation_Spanish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute Confirmation (Spanish)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Substitute_Confirmation_Spanish_Alert</targetReference>
            </connector>
            <label>Substitute Confirmation (Spanish)</label>
        </rules>
        <rules>
            <name>LFCCP_Registration_Confirmation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP_Registration_Confirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP Registration Confirmation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LFCCP_Registration_Confirmation_Alert</targetReference>
            </connector>
            <label>LFCCP Registration Confirmation</label>
        </rules>
        <rules>
            <name>LFCCP_Registration_Confirmation_Spanish</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP_Registration_Confirmation_Spanish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP Registration Confirmation Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LFCCP_Registration_Confirmation_Spanish_Alert</targetReference>
            </connector>
            <label>LFCCP Registration Confirmation Spanish</label>
        </rules>
        <rules>
            <name>LFCCP_Creative_Registration1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP_Creative_Registration1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP Creative Registration1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LFCCP_Creative_Registration1_Alert</targetReference>
            </connector>
            <label>LFCCP Creative Registration1</label>
        </rules>
        <rules>
            <name>PREPARE_Confirmation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PREPARE Confirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PREPARE_Confirmation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_Confirmation_English_Alert</targetReference>
            </connector>
            <label>PREPARE Confirmation</label>
        </rules>
        <rules>
            <name>PREPARE_Orientation_Confirmation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PREPARE Orientation Confirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PREPARE_Orientation_Confirmation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PREPARE_Orientation_Confirmation_Alert</targetReference>
            </connector>
            <label>PREPARE Orientation Confirmation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Registered</name>
        <label>Send Registered</label>
        <locationX>584</locationX>
        <locationY>354</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Registered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSendTrainingRegistered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Registered_Sent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Training_Reminder</name>
        <label>Send Training Reminder</label>
        <locationX>583</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>Send_Registered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Training_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSendTrainingReminder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_Send_Reminder</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Class_Notification</name>
        <label>Valid Class Notification</label>
        <locationX>585</locationX>
        <locationY>691</locationY>
        <defaultConnector>
            <targetReference>Get_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Class_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_Training_Reminder</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Email</name>
        <label>Valid Email</label>
        <locationX>371</locationX>
        <locationY>123</locationY>
        <defaultConnector>
            <targetReference>Notify_Admin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkValidEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Member</name>
        <label>Valid Member</label>
        <locationX>183</locationX>
        <locationY>129</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid_Member_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valid_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>DaveB: Default event owner to Training</description>
    <formulas>
        <name>checkValidEmail</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!varMemberEmail},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</expression>
    </formulas>
    <interviewLabel>Training Confirmation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Training Confirmation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>1183</locationX>
        <locationY>387</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varEmailTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0056A000000qgpsQAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Class Confirmation Email Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>433</locationX>
        <locationY>590</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Training_Reminder</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCampaign.Id</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>varEmailTemplate</assignToReference>
            <field>Confirmation_Email_Template__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Class_Notification</name>
        <label>Get Class Notification</label>
        <locationX>191</locationX>
        <locationY>687</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Class_Notification</targetReference>
        </connector>
        <filters>
            <field>Contact_Record_Type_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soContact.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Training__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCampaign.Id</elementReference>
            </value>
        </filters>
        <object>C501_Class_Notification__c</object>
        <outputAssignments>
            <assignToReference>varEmailTemplate</assignToReference>
            <field>Confirmation_Email_Template__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>186</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Class_Notification</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>soContact.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Member</name>
        <label>Get Member</label>
        <locationX>180</locationX>
        <locationY>37</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Member</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Training_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>soCampaign.Id</assignToReference>
            <field>CampaignId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.Id</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMemberEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInputMemberId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSendTrainingRegistered</assignToReference>
            <field>Send_Training_Registered__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSendTrainingReminder</assignToReference>
            <field>Send_Training_Reminder__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Registered_Sent</name>
        <label>Set Registered Sent</label>
        <locationX>435</locationX>
        <locationY>267</locationY>
        <connector>
            <targetReference>Send_Confirmation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_Training_Registered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <startElementReference>Get_Member</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Trigger_Send_Reminder</name>
        <label>Trigger Send Reminder</label>
        <locationX>427</locationX>
        <locationY>450</locationY>
        <connector>
            <targetReference>Send_Registered</targetReference>
        </connector>
        <flowName>Training_Reminder</flowName>
        <inputAssignments>
            <name>varInputMemberId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>soCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>soClassNotification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>C501_Class_Notification__c</objectType>
    </variables>
    <variables>
        <name>soContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varEmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varMemberEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSendTrainingRegistered</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varSendTrainingReminder</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
