src/flows/updateInternProgramMembership.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Name</name>
        <label>Update Name</label>
        <locationX>215</locationX>
        <locationY>193</locationY>
        <assignmentItems>
            <assignToReference>varInternProgramMembership.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInternProgramMembership.Program_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Program_Membership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateMentorProgram</name>
        <label>updateMentorProgram</label>
        <locationX>854</locationX>
        <locationY>65</locationY>
        <assignmentItems>
            <assignToReference>varInternProgramMembership.Mentor_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMentorProgramMembership.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Database</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Intern_Program_Membership</name>
        <label>Intern Program Membership</label>
        <locationX>425</locationX>
        <locationY>379</locationY>
        <defaultConnectorLabel>Mentor</defaultConnectorLabel>
        <rules>
            <name>Intern_ProgramMembership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInternProgramMembership.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Intern</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valid_Mentor_Program</targetReference>
            </connector>
            <label>Intern</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Mentor_Program</name>
        <label>Valid Mentor Program</label>
        <locationX>428</locationX>
        <locationY>68</locationY>
        <defaultConnector>
            <targetReference>Get_Mentor_Program_Membership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ValidMentorProgram</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInternProgramMembership.Mentor_Program__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Update Program Membership with additional info on update</description>
    <interviewLabel>updateInternProgramMembership {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updateInternProgramMembership</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Mentor_Program_Membership</name>
        <label>Get Mentor Program Membership</label>
        <locationX>686</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateMentorProgram</targetReference>
        </connector>
        <filters>
            <field>Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInternProgramMembership.Mentor__c</elementReference>
            </value>
        </filters>
        <object>ii_Program_Membership__c</object>
        <outputReference>varMentorProgramMembership</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Mentor__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getUpdatedProgramMembership</name>
        <label>getUpdatedProgramMembership</label>
        <locationX>212</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Name</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputInternProgramMembership</elementReference>
            </value>
        </filters>
        <object>ii_Program_Membership__c</object>
        <outputReference>varInternProgramMembership</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Mentor__c</queriedFields>
        <queriedFields>Mentor_Program__c</queriedFields>
        <queriedFields>Program_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Database</name>
        <label>Update Database</label>
        <locationX>1033</locationX>
        <locationY>65</locationY>
        <inputReference>varInternProgramMembership</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Program_Membership</name>
        <label>Update Program Membership</label>
        <locationX>214</locationX>
        <locationY>376</locationY>
        <connector>
            <targetReference>Intern_Program_Membership</targetReference>
        </connector>
        <inputReference>varInternProgramMembership</inputReference>
    </recordUpdates>
    <startElementReference>getUpdatedProgramMembership</startElementReference>
    <status>Active</status>
    <variables>
        <name>varInputInternProgramMembership</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInternProgramMembership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ii_Program_Membership__c</objectType>
    </variables>
    <variables>
        <name>varMentorProgramMembership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ii_Program_Membership__c</objectType>
    </variables>
</Flow>
